{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{ if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) -}}
#sudo apt install -y bash-completion
{{ end -}}

if [ -z $(which starship) ]; then
    curl -sS https://starship.rs/install.sh | sh -s -- --yes -b ~/.local/bin
fi

if [ -z $(which oh-my-posh) ]; then
    curl -s https://ohmyposh.dev/install.sh | bash -s -- -d ~/.local/bin
fi
{{ end -}}
