---
apiVersion: v1
clusters: null
contexts: null
{{ if ne "" (lookPath "kubectl") -}}
current-context: {{ output "kubectl" "config" "current-context" | trim -}}
{{ else -}}
current-context: null
{{ end -}}
kind: Config
preferences: {}
users: null
